# {{ ansible_managed }}
# Played by {{ template_uid }} on {{ template_run_date }}
{% if not use_docker_compose_v2 %}
version: '3'
{% endif %}

services:

  nextclouddb:
    restart: always
    image: mariadb:lts
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    volumes:
      - ~/{{ nextcloud_path }}/databases:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_PASSWORD={{ mysql_password }}
      - MYSQL_DATABASE={{ mysql_database }}
      - MYSQL_USER={{ mysql_user }}
      - TZ=Europe/Paris

  redis:
    image: redis:alpine
    restart: always
    command: redis-server --save 60 1 --loglevel warning --requirepass {{ redis_password }}
    volumes: 
      - /home/master/docker/cloud_libre34/redis_data:/data

# uncomment if phpmyadmin is needed 
#  myadmin:
#    restart: always
#    image: phpmyadmin:5.2.0-apache
#    ports:
#      - "8081:80"
#    volumes:
#      - ~/docker/web-server/letsencrypt:/etc/letsencrypt:ro
#    links:
#      - nextclouddb:db

  nextcloud:
    restart: always
    image: {{ custom_nextcloud_image }}:{{ nextcloud_image_tag }}
    ports:
      - "{{ nextcloud_published_port }}:80"
      - "{{ nextcloud_tls_published_port }}:443"
    environment:
      - MYSQL_PASSWORD={{ mysql_password }}
      - MYSQL_DATABASE={{ mysql_database }}
      - MYSQL_USER={{ mysql_user }}
      - MYSQL_HOST=nextclouddb
      - NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}
      - NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains }} 
      - APACHE_DISABLE_REWRITE_IP=1
      - TRUSTED_PROXIES=172.0.0.0/8 192.168.0.0/16
      - TZ=Europe/Paris
    links:
      - nextclouddb
      - redis
    volumes:
      - /home/{{ ansible_user }}/{{ nextcloud_path }}/nextcloud_html:/var/www/html
      - {{ data_path }}/data:/var/www/html/data
      - /home/{{ ansible_user }}/{{ nextcloud_path }}/sites-available:/etc/apache2/sites-available
      - /home/{{ ansible_user }}/{{ nextcloud_path }}/sites-enabled:/etc/apache2/sites-enabled
      {{ lets_encrypt_path }}
{% if extra_nextcloud_config != "" %}
{% for line in extra_nextcloud_config %}
    {{ line }}
{% endfor %}
{% endif %}
