from nextcloud:{{ nextcloud_image_tag }}

RUN apt-get update && apt-get install -y libmagickcore-6.q16-6-extra && a2enmod ssl
RUN sed -i "s/memory_consumption=128/memory_consumption=1024/g" /usr/local/etc/php/conf.d/opcache-recommended.ini
RUN sed -i "s/interned_strings_buffer=32/interned_strings_buffer=64/g" /usr/local/etc/php/conf.d/opcache-recommended.ini
